section h1{
    background-color: turquoise;
    margin-bottom: 0px;
}
section{
    background-color: linen;
}
article{
    background-image: url("https://images.unsplash.com/photo-1662763998553-0b6c226e305c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mzc2NjY2OA&ixlib=rb-1.2.1&q=80&w=1080");
}
