* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* changes a default 16px font size to 10px */
}

input {
  margin-bottom: 1.5rem;
}
fieldset {
  width: 100rem;
}
legend {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.div1 {
  display: flex;
  width: 50rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

label {
  font-size: 2rem;
  font-weight: bold;
}
.gender {
  display: flex;
}
.gender legend {
  margin-right: 22.5rem;
}
.gender label {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.upload {
  display: flex;
  justify-content: space-between;
  width: 54rem;
}
.countery {
  display: flex;
  width: 36rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.preferred {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33rem;
  margin-bottom: 2rem;
}
.field {
  display: flex;
}
.field legend {
  margin-right: 14rem;
}
.field label {
  margin-right: 3rem;
}

input[type="text"],
input[type="email"] {
  font-size: 2rem;
}

input[type="button"] {
  padding: 0.5rem;
  width: 7rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  border: 0.1rem solid rgb(203, 203, 203);
}
