* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #D8D8D8;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

h1 {
  font-size: 50px;
}

button {
  padding: 5px;
  width: 100px;
}

section {
  display: flex;
  gap: 50px;
  width: 40vw;
  height: 50vh;
  display: flex;
}

.left {
  font-size: 30px;
  color: #8E7563;
  background-color: #1F1514;
  border: 60px solid white;
  border-image-source: url(../img/—Pngtree—gold\ thailand\ border\ frame\ thai_5829597.png);
  border-image-slice: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 50%;
}

img {
  width: 130%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#murder-tool,
#place {
  font-size: 30px;
  color: #AE9179;
  text-align: center;
  width: 100%;
  background-color: #1F1514;
  border: 60px solid black;
  border-image-source: url(../img/—Pngtree—gold\ thailand\ border\ frame\ thai_5829597.png);
  border-image-slice: 33%;

}

#info {
  text-align: left;
  font-size: 16px;
  width: 120%;
  height: 150px;
  padding: 5px 10px;
  background-color: #8E7563;
  color: #1F1514;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#murder-name {
  width: 120%;
  text-align: center;
  color: #1F1514;
  padding: 10px;
  background-color: #AE9179;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}