* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 30vh;
  background-color: #F3F4F9;

}

section:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 100px;
  text-align: center;
  height: 50%;
}

.para {
  background-color: #B8EAFE;
  width: 150px;
  text-align: center;
  padding: 15px;
}

#key,
#keyCode,
#code {
  width: 150px;
  height: 45px;
  text-align: center;
  padding: 15px;
  background-color: white;
}